.container {
  width: 90%;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

#hero {
  padding-top: 145px;
  background: #273B80;
  min-height: 80vh;
}
#hero .hero {
  display: flex;
  justify-content: space-between;
}
#hero .hero--block__list h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 44px;
  line-height: 50px;
  color: #FFFFFF;
}
#hero .hero--block__list p {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}
#hero .hero--block__list--btn {
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  width: 200px;
  height: 56px;
  background: #B43E5F;
  border-radius: 16px;
  border: 1px solid #B43E5F;
  transition: 0.4s;
}
#hero .hero--block__list--btn:hover {
  background: transparent;
  transform: scale(1.1);
}
#hero .hero--block__list--button {
  margin-top: 20px;
  margin-left: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  box-sizing: border-box;
  width: 200px;
  height: 56px;
  background: transparent;
  border: 1px solid #B43E5F;
  border-radius: 16px;
  transition: 0.4s;
}
#hero .hero--block__list--button:hover {
  background: #B43E5F;
  transform: scale(1.1);
}
#hero .hero--block__span {
  display: flex;
  align-items: center;
}
#hero .hero--block__span div {
  margin-top: 20px;
  padding: 0 15px;
}
#hero .hero--block__span h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}
#hero .hero--block__span span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.container {
  width: 90%;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

#about {
  padding-top: 100px;
}
#about h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #2C3A4B;
  padding-bottom: 30px;
}
#about .about {
  display: flex;
  justify-content: space-between;
}
#about .about--block h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #2C3A4B;
  padding-bottom: 10px;
}
#about .about--block p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #545D69;
}

.container {
  width: 90%;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

#features {
  padding-top: 100px;
}
#features .features h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #2C3A4B;
  margin-bottom: 40px;
}
#features .features--block {
  display: flex;
  justify-content: space-between;
}
#features .features--block__blocks--list h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #2C3A4B;
  margin-top: 10px;
  margin-bottom: 10px;
}
#features .features--block__blocks--list p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #545D69;
}

.container {
  width: 90%;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

#material {
  padding-top: 150px;
}
#material h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  padding-bottom: 15px;
  color: #2C3A4B;
}
#material h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 40px;
  color: #2C3A4B;
}
#material .material {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#material .material--block {
  padding: 20px 0;
  display: flex;
  align-items: center;
}
#material .material--block img {
  margin-top: -40px;
}
#material .material--block__title {
  padding-top: 30px;
  margin-left: 30px;
}
#material .material--block__title h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 10px;
  color: #2C3A4B;
}
#material .material--block__title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #545D69;
}

.container {
  width: 90%;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

#accordion {
  padding-top: 60px;
  width: 1344px;
  height: 850px;
  background: #F4F6F9;
}
#accordion .accordion {
  display: flex;
  justify-content: space-between;
}
#accordion .accordion--title h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #2C3A4B;
  padding-bottom: 10px;
}
#accordion .accordion--title p {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #2C3A4B;
  transform: rotate(0.02deg);
}
#accordion .accordion--block {
  display: flex;
  align-items: center;
}
#accordion .accordion--block h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #2E5AAC;
  margin-bottom: 10px;
}
#accordion .accordion--block p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #545D69;
}
#accordion .accordion--block__ttl {
  padding: 0 20px;
}
#accordion .accordion--block__ttl h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #2E5AAC;
  margin-bottom: 10px;
}
#accordion .accordion--block__ttl p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #545D69;
}
#accordion .accordion-two {
  margin: 20px 0;
}
#accordion .accordion-two details {
  width: 1168px;
  height: 95px;
  background: #FFFFFF;
  box-shadow: 0 1px 0 #DADEE3;
  border-radius: 10px;
}
#accordion .accordion-two details p {
  margin-left: 20px;
  margin-top: 10px;
  width: 1168px;
  height: 95px;
  background: #FFFFFF;
  box-shadow: 0 1px 0 #DADEE3;
  border-radius: 10px;
}
#accordion .accordion-two summary {
  margin-left: 20px;
}
#accordion .accordion-two summary h1 {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #09101D;
}
#accordion .accordion-two--block {
  display: flex;
  align-items: center;
}
#accordion .accordion-two--block h4 {
  margin-left: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #858C94;
}

#foto {
  padding-top: 50px;
}
#foto h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  padding-bottom: 10px;
  color: #2C3A4B;
}
#foto h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 30px;
  color: #545D69;
}
#foto .foto {
  display: flex;
  justify-content: space-between;
}
#foto .foto--block img {
  padding-bottom: 10px;
}
#foto .foto--block h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 10px;
  color: #000000;
}
#foto .foto--block h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 15px;
  color: #6D7885;
}
#foto .foto--block p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #394452;
}

/*# sourceMappingURL=style.css.map */
