@media (max-width: 1440px) {
  .container{
    width: 90%;
  }
}

@media (max-width: 1200px) {
  #hero .hero--block__list h1 {
    font-size: 30px;
  }

  #hero .hero--block__list p {
    font-size: 14px;
  }

  #hero .hero--block__span h2 {
    font-size: 15px;
  }

  #hero .hero--block__span span {
    font-size: 15px;
  }

  .hero img{
    width: 350px;
  }


}

@media (max-width: 1024px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {  }

@media (max-width: 576px) {

}

@media (max-width: 450px) {

}

@media (max-width: 400px) {

}

@media (max-width: 380px) {

}

@media (max-width: 375px) {

}